<a href="https://colab.research.google.com/github/yuliaplaksina/Machine-learning/blob/master/lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install lightgbm

Requirement already satisfied: lightgbm in /usr/local/lib/python3.6/dist-packages (2.2.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from lightgbm) (1.16.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from lightgbm) (1.2.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from lightgbm) (0.20.3)

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import lightgbm

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.neighbors import KNeighborsRegressor

In [3]:
import io
from google.colab import files
#store = files.upload()

Saving googleplaystore.csv to googleplaystore (1).csv

In [4]:
store = pd.read_csv('googleplaystore.csv', sep=',')
store.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

In [5]:
store.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

### Делаем категориальными колонки, которые содержат не числа

In [0]:

for column in store.select_dtypes(include = ['object']).columns.tolist():
    store[column] = store[column].astype('category')

In [7]:
lgbm_regressor = lightgbm.LGBMRegressor().fit(store.loc[:, store.columns != 'Rating'], store['Rating'])
lgbm_regressor

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
       importance_type='split', learning_rate=0.1, max_depth=-1,
       min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
       n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
       random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
       subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [8]:
list_of_importances = list(zip(store.loc[:, store.columns != 'Rating'].columns.tolist(), 
                               lgbm_regressor.feature_importances_))
sorted(list_of_importances, key= lambda x: x[1], reverse= True)

[('Installs', 244),
 ('App', 0),
 ('Category', 0),
 ('Reviews', 0),
 ('Size', 0),
 ('Type', 0),
 ('Price', 0),
 ('Content Rating', 0),
 ('Genres', 0),
 ('Last Updated', 0),
 ('Current Ver', 0),
 ('Android Ver', 0)]

In [9]:
important_features = [x[0] for x in sorted(list_of_importances, key= lambda x: x[1], reverse= True)[:1]]
important_features

['Installs']

In [0]:
important_features.extend(['Rating'])
store = store[important_features]

### Удаляем пропуски

In [0]:

for column in store.select_dtypes(include = ['int64', 'float64']).columns.tolist():
    store[column] = store[column].fillna(store[column].mean())
for column in store.select_dtypes(include = ['category']).columns.tolist():
    store[column] = store[column].fillna(store[column].describe(include= ['category'])['top'])

### Закодируем категориальные признаки

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for column in store.select_dtypes(include = ['category']).columns.tolist():
    le.fit(store[column])
    store[column] = le.transform(store[column])

store

       Installs    Rating
0             7  4.100000
1            19  3.900000
2            14  4.700000
3            17  4.500000
4            10  4.300000
5            16  4.400000
6            16  3.800000
7             4  4.100000
8             4  4.400000
9             7  4.700000
10            4  4.400000
11            4  4.400000
12            8  4.200000
13           10  4.600000
14           10  4.400000
15           13  3.200000
16           19  4.700000
17            7  4.500000
18           14  4.300000
19            8  4.600000
20           10  4.000000
21           10  4.100000
22           19  4.700000
23           10  4.193338
24           16  4.700000
25            7  4.800000
26           19  4.700000
27           10  4.100000
28            7  3.900000
29           10  4.100000
...         ...       ...
10811         9  4.193338
10812         3  4.100000
10813         7  4.193338
10814        16  4.000000
10815        19  4.200000
10816         9  4.193338
10817        10  4.000000
10818         7  4.193338
10819        13  3.300000
10820         3  5.000000
10821        15  4.193338
10822         6  4.193338
10823         9  4.193338
10824         7  4.193338
10825         9  4.193338
10826        14  4.000000
10827        13  4.200000
10828         7  3.400000
10829         7  4.600000
10830        10  3.800000
10831        13  4.193338
10832        10  3.800000
10833         3  4.800000
10834        18  4.000000
10835         6  4.193338
10836        13  4.500000
10837         9  5.000000
10838         3  4.193338
10839         3  4.500000
10840         8  4.500000

[10841 rows x 2 columns]

### Нормирование и масштабирование данных

In [13]:
store.loc[:, store.columns != 'Rating'] = store.loc[:, store.columns != 'Rating'].apply(lambda x: x/x.max(), axis=0)

store

       Installs    Rating
0      0.333333  4.100000
1      0.904762  3.900000
2      0.666667  4.700000
3      0.809524  4.500000
4      0.476190  4.300000
5      0.761905  4.400000
6      0.761905  3.800000
7      0.190476  4.100000
8      0.190476  4.400000
9      0.333333  4.700000
10     0.190476  4.400000
11     0.190476  4.400000
12     0.380952  4.200000
13     0.476190  4.600000
14     0.476190  4.400000
15     0.619048  3.200000
16     0.904762  4.700000
17     0.333333  4.500000
18     0.666667  4.300000
19     0.380952  4.600000
20     0.476190  4.000000
21     0.476190  4.100000
22     0.904762  4.700000
23     0.476190  4.193338
24     0.761905  4.700000
25     0.333333  4.800000
26     0.904762  4.700000
27     0.476190  4.100000
28     0.333333  3.900000
29     0.476190  4.100000
...         ...       ...
10811  0.428571  4.193338
10812  0.142857  4.100000
10813  0.333333  4.193338
10814  0.761905  4.000000
10815  0.904762  4.200000
10816  0.428571  4.193338
10817  0.476190  4.000000
10818  0.333333  4.193338
10819  0.619048  3.300000
10820  0.142857  5.000000
10821  0.714286  4.193338
10822  0.285714  4.193338
10823  0.428571  4.193338
10824  0.333333  4.193338
10825  0.428571  4.193338
10826  0.666667  4.000000
10827  0.619048  4.200000
10828  0.333333  3.400000
10829  0.333333  4.600000
10830  0.476190  3.800000
10831  0.619048  4.193338
10832  0.476190  3.800000
10833  0.142857  4.800000
10834  0.857143  4.000000
10835  0.285714  4.193338
10836  0.619048  4.500000
10837  0.428571  5.000000
10838  0.142857  4.193338
10839  0.142857  4.500000
10840  0.380952  4.500000

[10841 rows x 2 columns]